@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,400&display=swap');
body {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
  color: #1F86DB;
  font-weight: 700;
  margin-bottom: 10px;
}
h1 {
  font-size: 26px;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
.bg-blue {
  background: #49ADF2;
  height: 44px;
}
.navbar {
  padding: 0;
}
.logo {
  width: 80%;
  padding: 10px;
}
.home {
  color: #FFFFFF;
  background: #3395E7;
  transform: skew(335deg);
  margin-right: 15px;
}
.lin {
  transform: skew(25deg);
}
.navbar-light .navbar-nav .nav-link {
  font-size: 14px;
  line-height: 100%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  padding: 14px 15px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #e9ecef;
}
.icon-bar {
  background-color: #3395E7;
}
.icon-bar {
  display: block;
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}
.navbar-toggler {
  padding: 7px 9px 1px 10px;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}
.form-control, .form-control:focus {
  font-size: 14px;
  background-color: inherit;
  border: none;
  color: #FFFFFF;
  max-width: 150px;
  outline: none;
  box-shadow: none;
}
.form-control::placeholder {
  color: #FFFFFF;
}
.form-control::-webkit-input-placeholder {
  color: #FFFFFF;
}
.bsearch, .bsearch:focus {
  background: inherit;
  outline: none;
  box-shadow: none;
}
.bsearch img {
  width: 20px;
}
.contith {
  width: 100%;
  padding: 16px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tel {
  font-size: 13px;
}
.butq {
  font-size: 13px;
  padding: 5px 28px;
  color: #ffffff;
  margin: 2px 30px 0;
  background: #82ac0a;
  border-radius: 19px;
}
.butq2 {
  outline: none;
  border: 1px solid #6a8a0d;
  font-size: 13px;
  padding: 5px 28px;
  color: #ffffff;
  margin: 2px 0px 0;
  background: #82ac0a;
  border-radius: 19px;
}
.showallcont {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-top: 10px;
}
.showall {
  border: 1px solid #6a8a0d;
  padding: 4px 40px;
  color: #ffffff;
  margin: 10px 0;
  background: #82ac0a;
  border-radius: 19px;
  min-width: 180px;
  text-align: center;
}
.sliderbbut {
  font-size: 16px;
  padding: 6px 40px;
  color: #ffffff;
  margin: 10px auto;
  background: #49ADF2;
  border-radius: 15px;
  text-align: center;
  width: 30%;
  color: #FFFFFF;
  text-decoration: none;
}
.sliderbbutc {
  font-size: 16px;
  color: #ffffff;
  border-radius: 15px;
  margin: 15px 0;
  text-align: center;
  width: 100%;
}
.labbbut {
  text-decoration: none;
}
.labbbut:hover {
  text-decoration: none;
  color: #FFFFFF;
  opacity: 0.9;
}
.sliderbbut:hover {
  background: #3395E7;
  color: #FFFFFF;
  text-decoration: none;
}
.sliderbbut:active {
  background: #2A8BDC;
  color: #FFFFFF;
  text-decoration: none;
}
.butq, .butq2, .showall {
  color: #FFFFFF;
  text-decoration: none;
}
.butq:hover, .butq2:hover, .showall:hover {
  color: #FFFFFF;
  background: #799C13;
}
.butq:active, .butq2:active, .showall:active {
  background: #6D8B13;
}
.hnavi {
  align-items: flex-end;
}
.hhome {
  margin-right: 10px;
}
.breadc {
  background: #FFFFFF;
  padding: 25px 0;
}
.breadc a {
  color: #000000;
  text-decoration: none;
}
.sep {
  color: #5d7296;
}
.str {
  color: #737373;
}
/*__________________Главная________________________*/
.screen {
  background: url("../ico/screen.png") no-repeat center center fixed;
  width: 100%;
  height: 400px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.titscreen {
  padding: 10px 0;
  background: rgba(255, 255, 255, 0.59);
  color: #3A79AE;
  transform: skew(335deg);
  width: 39em;
}
.titscreent {
  transform: skew(25deg);
  text-align: center;
  font-size: 1.6em;
  font-weight: 700;
}
.titscreent p {
  margin-bottom: 1px;
}
.aboutmenu {
  position: relative;
  display: flex;
  top: -30px;
  align-items: center;
  justify-content: center;
  padding: 0 30px 10px;
  width: 100%;
}
.aboutmenuit {
  margin: 0 2%;
  float: left;
  width: 20%;
}
.aboutmenuit img {
  display: block;
  width: 100%
}
.aboutmenuz {
  padding: 10px 5px;
  text-align: center;
  width: 100%;
  height: 60px;
  box-shadow: 1px 1px 10px 0 #0000012e;
}
.lab {
  background: url("../ico/lab.png") no-repeat;
  width: 100%;
  height: 350px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  z-index: 1;
  position: relative;
}
.menucont{
  position: absolute;
    display: block;
    width: 100%;
    background-color: #fff;
    top: 115px;
	
}
.menucontv {border:1px solid #A75152;     border: 1px solid #ced8e0;
    border-radius: 0 0 5px 5px;}
.mnctva{background: #82AC0A;}
.leftmen{
background: #D9F0FF; padding: 20px 0;}
.leftmit{color:#181616; padding: 4px 20px; width: 100%;}
.labfig {
  width: 60%;
  height: 400px;
  position: absolute;
  top: 0;
  z-index: 2;
  transform: skew(339deg);
  background: rgba(255, 255, 255, 0.67);
  margin-left: -8%;
}
.labcont {
  top: 40px;
  position: absolute;
  z-index: 3;
  width: 40%;
  max-width: 700px;
}
.labbbut {
  font-size: 16px;
  padding: 4px 40px;
  width: 200px;
  color: #ffffff;
  margin: 10px 0;
  background: #49ADF2;
  border-radius: 15px;
  text-align: center;
}
.labfigcont {
  transform: skew(25deg);
  margin-left: 8%;
}
.title {
  color: #1F86DB;
  font-size: 26px;
  font-weight: 700;
  z-index: 2;
  margin-bottom: 10px;
}
.lbftc {
  padding-top: 50px;
}
.otrsmenu {
  align-items: normal;
  justify-content: left;
  padding: 15px 246px;
  width: 100%;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -.5);
  margin-left: calc(var(--bs-gutter-x) * -.5);
}
.otrsmenuitco {
  flex: 0 0 auto;
  margin: 15px;
  float: left;
  width: 27%;
}
.otrsmenuit {
  max-width: 220px;
  box-shadow: 1px 1px 10px 0 #0000012e;
  transform: skew(345deg);
  overflow: hidden;
  display: block;
}
.contimgotr {
  width: calc(100% + 70px);
  margin-left: -30px;
  transform: skew(15deg);
}
.otrsmenuit img {
  width: 100%;
  max-height: 200px;
}
.otrsmenuz {
  display: block;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  transform: skew(15deg);
  font-size: 12px;
  min-height: 56px;
}
.screen3 {
  padding-top: 30px;
  padding-bottom: 50px;
}
.screen4 {
  background: rgba(248, 250, 251, 0.61);
  padding: 30px;
}
.slider__wrapper {
  overflow: hidden;
}
.slider {
  position: relative;
  margin-bottom: 30px;
}
.slider__item {
  flex: 0 0 40%;
  max-width: 33%;
  display: flex;
  justify-content: center;
  align-items: inherit;
}
.slider__indicators {
  position: absolute;
  right: 0;
  bottom: -35px;
}
.slider__indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #adb5bd;
  background-clip: padding-box;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
.slider__indicators li.active {
  background-color: #36719a;
}
.sliderb {
  display: block;
  background: #FFFFFF;
  margin: 5px 15px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 0 #00000105;
}
.sliderbimg {
  padding: 10px;
  width: 100%;
  text-align: center;
  min-height: 200px;
}
.sliderbimg img {
  width: 50%;
}
.sliderbt {
  color: #181616;
  font-weight: 500;
  padding: 0 15px;
}
.sliderb p {
  color: #181616;
  padding: 15px;
  margin-bottom: 0;
  min-height: 93px;
}
.cartcat p {
  min-height: 63px;
}
.cartbz {
  color: #C4C4C4;
  float: right;
  padding: 0 16px;
  min-height: 20px;
}
.sliderbz {
  color: #C4C4C4;
  float: right;
  padding: 0 16px;
  min-height: 27px;
}
.sliderbc {
  font-size: 18px;
  color: #000000;
  float: right;
  padding: 0 16px;
}
.clear {
  clear: both;
}
.screen5 {
  padding: 25px 50px;
}
.abcenter {
  display: flex;
  min-height: 440px;
}
.adcenterc {
  margin: auto
}
.screen5t {
  color: #1F86DB;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 26px;
  padding-bottom: 10px;
}
.hron {
  overflow: hidden;
  width: 80%;
}
.hron img {
  width: 100%;
  max-width: 568px;
}
.telsc5 {
  padding: 10px 0;
}
.telsc5 {
  color: #181616;
  font-weight: 700;
  font-size: 20px;
}
.scr5in {
  border-radius: 20px;
  border: 1px solid #C4C4C4;
  padding: 6px 12px;
  font-size: 13px;
  min-width: 220px;
}
.scr5but {
  padding: 6px 20px;
  border-radius: 20px;
  color: #ffffff;
  margin: 0 0px 0 -30px;
  background: #82ac0a;
  width: 180px;
  text-align: center;
  border: none;
}
.sogl {
  padding-top: 10px;
  text-align: center;
}
.modcont .modal-content {
  background: #D9F0FF;
  border: 1px solid #D9F0FF;
}
.modcont .modtit {
  padding: 10px 0 5px;
  color: #141212;
  font-weight: 500;
  font-size: 18px;
}
.modcont .modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 0 2rem 1rem;
}
.modinp {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px 15px;
  border-radius: 22px;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  outline: none;
}
.modarea {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px 15px;
  min-height: 130px;
  border-radius: 22px;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  outline: none;
}
.modal-lg .modarea {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px 15px;
  min-height: 158px;
  border-radius: 22px;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  outline: none;
}
.modarea:focus-visible, .modal-lg.modarea:focus-visible, .modinp:focus-visible, .modarea:focus, .modal-lg.modarea:focus, .modinp:focus {
  border-color: #91c0f0;
}
.modcont .btn-close {
  position: absolute;
  right: 10px;
  top: 10px;
}
.scr5-col-1, .scr5-col-2 {
  flex: 0 0 auto;
  width: 50%;
}
/*__________________Главная________________________*/
.col-sm-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}
.col-sm-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}
.col-sm-6 {
  flex: 0 0 auto;
  width: 50%;
}
.col-sm-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}
.projectcont, .contcont {
  min-height: 550px;
}
footer {
  display: block;
  height: 100px;
  background: #415766;
}
/*__________________О компании________________________*/
.text {
  padding: 20px 0;
  width: 100%;
}
.doc {
  background: #F8FAFB9C;
  padding: 20px 0;
}
.doccont {
  padding: 10px 0 10px 0;
  width: 100%;
  overflow: hidden;
  border-radius: 45px;
}
.screen4 h4 {
  color: #181616;
  font-weight: 500;
  margin-bottom: 20px;
}
.doccont img {
  width: 100%;
  border-radius: 10px;
}
/*__________________О компании________________________*/
/*__________________Отрасли________________________*/
.otr {
  padding-bottom: 20px;
}
/*__________________Отрасли________________________*/
/*__________________Услуги________________________*/
.uslugicont {
  padding: 15px 220px;
  width: 100%;
}
.cart {
  box-shadow: 1px 1px 10px 0 #0000012e;
  width: 100%;
  min-height: 200px;
  margin: 10px 0;
}
.uslimg {
  width: 100%;
  overflow: hidden;
}
.uslimg img {
  width: 100%;
}
.usltit {
  padding: 15px;
  color: #3A79AE;
  font-weight: 500;
  text-decoration: underline;
}
.usltit a {
  color: #3A79AE;
}
.usltext {
  padding: 0 15px 15px 15px;
}
/*__________________Услуги________________________*/
/*__________________Проект/Консультация________________________*/
.projectcont {
  padding: 15px 0;
  width: 100%;
}
.projtext {
  width: 65%;
  margin-right: 5%;
  float: right;
}
.projimg {
  width: 30%;
  overflow: hidden;
  float: right;
  padding-bottom: 20px;
}
.projimg img {
  width: 100%;
}
/*__________________Проект/Консультация________________________*/
/*__________________Контакты________________________*/
.bltit {
  padding-bottom: 2px;
  color: #181616;
  font-weight: 500;
  font-size: 16px;
}
.contbl {
  padding-bottom: 20px;
}
.carts {
  width: 100%;
  height: auto;
  min-height: 300px;
}
/*__________________Контакты________________________*/
/*__________________Каталог________________________*/
.filconti {
  padding-bottom: 25px;
}
.filcont {
  padding: 0 10px 0 0;
}
.filcont:after {
  content: '';
  clear: both;
}
.filba {
  float: left;
}
.filb {
  float: right;
}
.filtit {
  padding-bottom: 2px;
  color: #181616;
  font-weight: 500;
  font-size: 16px;
}
.cartcat {
  box-shadow: 1px 1px 10px 0 #0000012e;
  width: 100%;
  min-height: 200px;
  margin: 10px 0;
  padding: 10px;
  border-radius: 12px;
}
.catimg {
  width: 100%;
  overflow: hidden;
  text-align: center;
  min-height: 154px;
}
.catimg img {
  width: 65%;
}
.cartbt {
  color: #181616;
  font-weight: 500;
  padding: 15px 0;
  min-height: 73px;
}
.cartcat p {
  padding: 0;
}
.strcont {
  padding: 3px 0;
}
.strcont:after {
  content: '';
  clear: both;
}
.filnavi {
  padding: 6px 0;
}
.filnavi img {
  margin: -2px 0 0 0;
  width: 8px;
}
.filnavi a {
  text-decoration: none;
  font-size: 16px;
  color: #181616;
}
.filin {
  padding-bottom: 5px;
}
.gnavi {
  margin: 0 5px;
}
/*__________________Каталог________________________*/
/*__________________Товар_______________________*/
.imgtovar {
  width: 100%;
  overflow: hidden;
}
.imgtovar img {
  width: 100%;
}
.filnavact {
  color: #3395E7;
  text-decoration: none;
  font-size: 16px;
  padding: 6px 0 6px 10px;
}
.filnavact a {
  color: #3395E7;
  text-decoration: none;
}
.podmen {
  margin-left: 10px;
  padding: 6px 0;
  text-decoration: none;
  font-size: 16px;
  color: #181616;
}
.tittov {
  color: #181616;
  font-size: 20px;
  font-weight: 500;
}
.cenatit {
  padding-bottom: 2px;
  color: #181616;
  font-weight: 500;
  font-size: 16px;
}
.teh {
  width: 100%;
}
.leftt {
  width: 70%;
  border-bottom: 1px solid #D9F0FF;
  padding: 5px;
}
.teh>tbody>tr:last-child td { border-bottom: 1px solid #FFFFFF; }
.rightt {
  width: 30%;
  border-bottom: 1px solid #D9F0FF;
  border-left: 1px solid #D9F0FF;
  text-align: center;
  padding: 5px;
}
.formtit{padding: 10px 0 5px;
    color: #141212;
    font-weight: 500;
    font-size: 18px;
}
.textform { padding: 0 0 15px 0;}
.formzap {margin: 20px 0;  background: #D9F0FF; padding: 1rem 2rem; }
/*__________________Товар________________________*/
@media only screen and (min-width : 1297px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
}
@media(max-width : 1320px) {
  .container {
    max-width: 1800px;
  }
  .abcenter {
    display: flex;
    min-height: 364px;
  }
}
@media(max-width : 1100px) {
  .filcont {
    padding: 0;
  }
  .filba, .filb {
    float: none;
    margin: 5px 0;
    display: flex;
    justify-content: center;
  }
  .sliderbt, .cartbt {
    min-height: 30px;
  }
  .abcenter {
    display: flex;
    min-height: 292px;
  }
  .otrsmenu {
    align-items: normal;
    justify-content: left;
    padding: 15px 0px;
  }
  .uslugicont {
    padding: 15px 0px;
  }
}
@media(min-width : 992px) {
  .mintop {
    display: none;
  }
}
@media(max-width : 992px) {
	
	.home,.lin {transform: none; margin: 0;}
	.navbar-light .navbar-nav .nav-link{background: #3395e7;
    border-top: 1px solid;
}
  .modal-lg .modarea {
    min-height: 130px;
  }
  .conttov {
    display: none;
  }
  .hron img {
    width: 64%;
  }
  .projectcont, .contcont {
    min-height: inherit;
  }
  .projimg, .projtext {
    width: 100%;
    float: none;
  }
  .butq {
    margin: 14px 30px 0;
  }
  .tel {
    display: none;
  }
  .hnavi {
    display: none;
  }
  .top {
    display: none;
  }
  .butq, .navbar-toggler {
    display: block;
    float: right;
  }
  .navbar > .container, .navbar > .container-fluid, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container-xl, .navbar > .container-xxl {
    display: block;
    flex-wrap: inherit;
    align-items: normal;
    justify-content: normal;
  }
  .bg-blue {
    background: #ffffff;
    height: 55px;
    box-shadow: 1px 1px 10px 0 #0000012e;
  }
  .logo {
    width: 163px;
    padding: 10px;
  }
  .topcont {
    text-align: right;
  }
  .navbar-light .navbar-toggler {
    margin: 8px 0;
    border: none;
  }
  .screen {
    height: 350px;
  }
  .titscreen {
    width: 95%;
  }
  .aboutmenu {
    top: 20px;
    margin-bottom: 30px;
  }
  .labfig {
    display: none;
  }
  .labcont {
    top: 40px;
    position: absolute;
    z-index: 3;
    width: 98%;
  }
  .labbbut {
    text-align: center;
  }
  .otrsmenuit {
    transform: none;
  }
  .contimgotr {
    transform: none;
    width: 100%;
    margin-left: 0px;
  }
  .otrsmenuz {
    transform: none;
  }
  .sliderbt {
    min-height: 48px;
  }
  .slider__item {
    flex: 0 0 50%;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: inherit;
  }
  .screen5cont {
    z-index: 1;
    position: relative;
    height: 430px;
  }
  .scr5-col-1 {
    top: 40px;
    position: absolute;
    z-index: 3;
    width: 100%;
  }
  .scr5-col-2 {
    top: 40px;
    position: absolute;
    z-index: 2;
    width: 100%;
    text-align: center;
  }
  .hron {
    overflow: hidden;
    width: 60%;
    margin: 0 auto;
    opacity: 0.3;
  }
  .labtext {
    padding-right: 20px;
  }
  .screen5 {
    padding: 0px 10px 0px;
    overflow: hidden;
  }
  .screen5t {
    width: 80%;
  }
  .scr5in {
    border-radius: 20px;
    border: 1px solid #C4C4C4;
    padding: 6px 12px;
    font-size: 13px;
    max-width: 300px;
    width: calc(100% - 180px);
  }
  .screen5cont {
    height: 340px;
  }
}
@media (min-width: 768px) {
  .filt {
    display: none;
  }
}
@media (max-width: 768px) {
  .filba, .filb {
    display: block;
    justify-content: normal;
    margin-bottom: 20px;
  }
  .filba {
    float: left;
  }
  .filb {
    float: right;
  }
  .downcat, .filcont {
    display: none;
  }
  .modcont .modal-body {
    padding: 0 1rem 1rem;
  }
  .container, .container-md, .container-sm {
    max-width: 950px;
  }
  .centermin {
    padding-top: 20px;
    text-align: center;
  }
  .butq {
    margin: 14px 0 0;
  }
  .titscreen {
    width: 93%;
  }
  .hron img {
    width: 80%;
  }
  .sliderbimg img {
    width: 100%;
  }
  .adcenterc {
    margin: auto;
    width: 80%;
  }
  .hron {
    overflow: hidden;
    width: 76%;
  }
  .otrsmenu {
    margin: 0;
    align-items: normal;
    justify-content: left;
    padding: 0;
  }
  .aboutmenuit {
    width: 30%;
  }
  .slider__item {
    flex: 0 0 50%;
    max-width: 50%;
    /* width: 51%; */
    display: flex;
    justify-content: center;
    align-items: inherit;
    overflow: hidden;
  }
  .otrsmenuit {
    width: 100%;
  }
  .hron {
    overflow: hidden;
    width: 76%;
  }
  .screen5cont {
    height: 350px;
  }
}
@media (max-width: 576px) {
  .container, .container-sm {
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .hron img {
    width: 74%;
  }
  .logo {
    width: 150px;
    padding: 12px;
  }
  .titscreen {
    width: 85%;
  }
  .titscreent {
    font-size: 1.1em;
  }
  .otrsmenuitco {
    width: 44%;
    margin: 10px;
  }
  .slider__item {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: inherit;
    overflow: hidden;
  }
  .sliderbt, .sliderb p, .cartcat p {
    min-height: auto;
  }
  .adcenterc {
    width: 100%;
  }
  .aboutmenu {
    padding: 0;
  }
  .labcont {
    top: 20px;
  }
  .lab {
    height: 425px;
  }
  .sliderbimg {
    min-height: auto;
  }
  adcenterc {
    margin: auto;
    width: 100%;
  }
  .scr5but {
    padding: 6px 16px;
    border-radius: 20px;
    color: #ffffff;
    margin: 0 0px 0 -30px;
    background: #82ac0a;
    width: 143px;
    text-align: center;
    border: none;
  }
  .hron {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .hron img {
    width: 100%;
  }
  .screen5cont {
    height: 370px;
  }
  .scr5in {
    border-radius: 20px;
    border: 1px solid #C4C4C4;
    padding: 6px 12px;
    font-size: 13px;
    max-width: 300px;
    width: calc(100% - 120px);
    min-width: 50px;
  }
  .titscreen {
    width: 77%;
  }
  .lab {
    height: 490px;
  }
  .otrsmenuitco {
    width: 42%;
    margin: 10px;
  }
  .butq {
    font-size: 11px;
    padding: 5px 7px;
    color: #ffffff;
    margin: 15px -5px 0;
    background: #82ac0a;
    border-radius: 19px;
  }
  .aboutmenuz {
    font-size: 12px;
  }
}
@media(min-width : 992px) {
  .navbar-toggler {
    display: none;
  }
}